.App {
    margin: 0 auto;
    max-width: 980px;
    height: 100vh;

  }

.container {
    background-image: url("../../../src/img/bg-rectangle.png");
    background-size: cover;
}

.search-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 24px;
    width: 980px;
    height: 162px;
    background: linear-gradient(96deg, rgba(68, 59, 40, 0.27) 30.35%, rgba(104, 83, 6, 0.21) 93.71%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -5px -5px 40px rgba(255, 255, 255, 0.5), inset 5px 5px 40px rgba(255, 247, 247, 0.5);
    backdrop-filter: blur(25px);
    border-radius: 15px;
}
